@import "tailwindcss";
body{
    background: #FFF7E0;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
}
